:root{
  --muted:#9aa4b2;
  --accent:#6ee7b7;
}

*{box-sizing:border-box}

body{
  margin:0;
  font-family:'Inter',sans-serif;
  background:linear-gradient(180deg,#071024,#06121c);
  color:#e6eef6;
  padding:32px 16px;
  display:flex;
  justify-content:center;
}

.wrap{
  width:100%;
  max-width:1200px
}

/* Header */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:22px;
  gap:15px;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px
}

.mark{
  width:48px;
  height:48px;
  border-radius:10px;
  overflow:hidden;  
  box-shadow:0 6px 18px rgba(0,0,0,0.6);
}

.mark img{
  width:100%;
  height:100%;
  object-fit:cover;
}

nav{
  display:flex;
  gap:12px
}

nav a{
  text-decoration:none;
  color:var(--muted);
  padding:8px 10px;
  border-radius:8px;
  font-weight:600;
}

nav a:hover{
  background:rgba(255,255,255,0.03);
  color:var(--accent)
}

.btn{
  background:linear-gradient(90deg,#6ee7b7,#34d399);
  padding:8px 12px;
  border-radius:10px;
  color:#042022;
  font-weight:700;
  border:0;
}

/* Barra de búsqueda */
.search-box{
  flex:1;
  display:flex;
  justify-content:center;
}

.search-box input{
  width:100%;
  max-width:260px;
  padding:8px 12px;
  border-radius:10px;
  border:1px solid rgba(255,255,255,0.1);
  background:rgba(255,255,255,0.05);
  color:#e6eef6;
  font-size:14px;
}

.search-box input::placeholder{
  color:var(--muted);
}

/* Productos */
.products{
  display:grid;
  gap:16px;
  grid-template-columns:repeat(4, 1fr);
}

.pro{
  background:linear-gradient(180deg,rgba(255,255,255,0.02),rgba(255,255,255,0.01));
  border-radius:14px;
  border:1px solid rgba(255,255,255,0.03);
  padding:12px;
  display:flex;
  flex-direction:column;
  gap:10px;
  box-shadow:0 5px 18px rgba(0,0,0,0.5);
}

.thumb{
  height:120px;
  border-radius:10px;
  overflow:hidden;  
  background:#0b1220;
  display:flex;
  justify-content:center;
  align-items:center;
}

.thumb img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.price{
  color:var(--accent);
  font-weight:800
}

.meta{
  color:var(--muted);
  font-size:13px
}

/* BOTÓN "Agregar al carrito" */
.add-btn {
  margin-top: 8px;
  padding: 10px;
  background: linear-gradient(90deg,#6ee7b7,#34d399);
  border: none;
  border-radius: 10px;
  color: #042022;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.add-btn:hover {
  opacity: 0.8;
}


/* --------- CARRUSEL CON BOOTSTRAP --------- */
.custom-carousel{
  width:100%;
  height:350px;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 5px 18px rgba(0,0,0,0.5);
  margin-bottom:30px;
}

.custom-carousel img{
  height:100%;
  object-fit:cover;
  border-radius:14px;
}

.custom-arrow{
  filter:invert(1);
}

.carousel-control-prev,
.carousel-control-next{
  width:60px;
  height:60px;
}
